In [1]:
7**4

2401

#### --------------------------------------------------------------

In [2]:
s = "Hi there Yogesh!"

In [3]:
s.split()

['Hi', 'there', 'Yogesh!']

#### ----------------------------------------------------------

In [4]:
planet = "Earth"
diameter = 12742

In [8]:
"The diameter if {} is {}".format(planet,diameter)

'The diameter if Earth is 12742'

#### ----------------------------------------------------------

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [12]:
# The indexing to grab hello is as follows:
lst[3][1][2]

['hello']

In [29]:
# Define the dictionary
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',
                            {'target':[1,2,3,'hello']}]}]}

In [28]:
# first step printed the dist
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [30]:
# Step 1: Access the list associated with key 'k1'
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [31]:
# Step 2: Access the dictionary which is the 4th item in the list
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [32]:
# Step 3: Access the list under key 'tricky' in the inner dictionary
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [33]:
# Step 4: Access the dictionary inside the 'tricky' list at index 3
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [34]:
# Step 5: Access the list under the key 'target'
d['k1'][3]['tricky'][3]['target']

[1, 2, 3, 'hello']

In [36]:
# Step 6: Finally, access the string 'hello' from the list
d['k1'][3]['tricky'][3]['target'][3]

'hello'

#### ----------------------------------------------------------

** What is the main difference between a tuple and a list? **

** The main difference between list and tuple is **
#### List : is mutable
#### tuple : is immutable
** Below example we can see it **

In [77]:
list1 = [1,4,5,'Nikhil']

In [78]:
list1

[1, 4, 5, 'Nikhil']

In [79]:
list1[3]

'Nikhil'

In [80]:
list1[3] = 'Jamdar'

In [81]:
list1

[1, 4, 5, 'Jamdar']

In [82]:
tuple1 = (2,4,5,3)

In [83]:
tuple1

(2, 4, 5, 3)

In [84]:
tuple1[2]

5

In [85]:
tuple1[2]=0

TypeError: 'tuple' object does not support item assignment

#### ----------------------------------------------------------

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [53]:
def get(email):
    return(email.split('@')[1])

In [54]:
get("njamdar@gmail.com")

'gmail.com'

#### ----------------------------------------------------------

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [55]:
def find_dog(my_str):
    return 'dog' in my_str

In [56]:
find_dog("Is their dog in str")

True

In [57]:
find_dog("Is their dog in my str")

True

In [58]:
find_dog("Is their in my str")

False

#### ----------------------------------------------------------

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [69]:
def count_dog(my_str):
    count = 0
    for str in my_str.lower().split():
        if str == 'dog':
            count = count+1
    return count

In [71]:
count_dog("where is my dog here i found one dog")

2

#### ----------------------------------------------------------

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [89]:
seq = ['soup','dog','salad','cat','great']

In [93]:
list(map(lambda v:v[0]!='s',seq))

[False, True, False, True, True]

In [94]:
list(filter(lambda v:v[0]!='s',seq))

['dog', 'cat', 'great']

#### ----------------------------------------------------------

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [95]:
def speed_check(speed,birthday):
    if birthday:
        adj_speed = speed - 5
    else:
        adj_speed = speed
    if adj_speed > 80:
        return("Big Ticket")
    elif adj_speed > 60:
        return("Small Ticket")
    else:
        return("No Ticket")

In [100]:
speed_check(90,False)

'Big Ticket'

Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [102]:
num1=input("Enter the Input:")
d=""
numbers=[0,1,2,3,4,5,6,7,8,9]
if num1[0]=="-":
    d=d+num1[0]
for v in num1:
    if v in str(numbers):
        d=d+v
print(d)

Enter the Input: -112njnjn12121

-11212121

#### ----------------------------------------------------------

Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [109]:
def find_five_digit():
    for C in range(10):
        A = C + 4
        B = C + 2
        D = C - 2
        E = C

        if all(0 <= x <= 9 for x in [A, B, C, D, E]):
            if(C + D + E == A) and (A + B + C + D + E == 19):
                number = int(f"{A}{B}{C}{D}{E}")
                print(("The Five Digit Number is: {}").format(number))
                return

In [110]:
find_five_digit()

The Five Digit Number is: 75313

## Thank You........!